{
  "comments": false,
	"presets": [
		["env", {
			"cacheDirectory": true,
      "debug": false,
      "modules": false,
      "useBuiltIns": false,
			"targets": {
        "node": "6",
        "browsers": [
          "> 1%",
          "last 2 versions",
          "safari >= 7"
        ]
      }
		}],
    "stage-0",
    "babili"
	],
  "plugins": [
    "syntax-dynamic-import",
    "syntax-jsx",
    "transform-decorators",
    "transform-flow-strip-types",
    "transform-react-display-name",
    "transform-react-jsx"
  ],
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node",
        "syntax-jsx",
        "transform-decorators",
        "transform-es2015-modules-commonjs",
        "transform-react-jsx"
      ]
    },
    "cli": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": []
    }
  }
}
