language: node_js
node_js:
  - 6
  - 8
cache:
  yarn: true
  directories:
    - node_modules
before_install: yarn global add greenkeeper-lockfile
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload
install:
  - yarn --ignore-engines
script:
  - yarn lint
  - yarn test:all
