App {
  transition: all .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
}

App.resolved {
  opacity: 1;
}

.App {
  margin: var(--default-margin);
  font-family: var(--default-font), serif;
  font-size: var(--default-font-size);
  color: var(--color-primary);
}
